<div class="bg-dark py-10 px-6 lg:px-0">
    <div class="container mx-auto grid grid-cols-12 gap-8">
        <div class="col-span-12 lg:col-span-3">
            <img class="white-logo max-w-xs relative mx-auto p-3" src="{{branding.primaryLogo.one().url}}"></a>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-3 py-2 lg:py-4">
            <h3 class="text-primary text-3xl">Let's Talk Coffee</h3>
            <div>
                <span class="mr-3 text-light">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
                <span class="text-offwhite ff-body">{{businessDetails.phone}}</span>
            </div>
            <div>
                <span class="mr-3 text-light">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                <span class="text-offwhite ff-body">{{businessDetails.email}}</span>
            </div>
            <div>
                <span class="mr-3 text-light">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>
                <span class="text-offwhite ff-body">{{businessDetails.addressStreet}}, {{businessDetails.city}}, {{businessDetails.state}} {{businessDetails.zip}}</span>
            </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-3 py-2 lg:py-4">
            <h3 class="text-primary text-3xl">Follow Us</h3>
            <div>
                <span class="mr-3 text-light">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </span>
                <span class="text-offwhite ff-body">Facebook</span>
            </div>
            <div>
                <span class="mr-3 text-light">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </span>
                <span class="text-offwhite ff-body">{{branding.instagramHandle}}</span>
            </div>
            <div>
                <span class="mr-3 text-light">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </span>
                <span class="text-offwhite ff-body">{{branding.twitterHandle}}</span>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-3 py-2 lg:py-4">
            <form>
                <input type="text" placeholder="Newsletter Sign Up"/>
                <button class="primary w-full mt-3">Subscribe</button>
            </form>
        </div>
    </div>
</div>