<header class="bg-dark py-2 lg:py-4">
    <nav class="container mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="flex justify-between items-center">
            <a href="#">
                <img class="white-logo h-20 w-auto" src="{{ branding.primaryLogo.one().url }}" alt="">
            </a>

            {# Mobile Toggle #}
            {% include './partials/_toggle' with {
                mobileMenu: "#mobileMenu"
            } %}

            {# Desktop #}
            <div class="hidden lg:flex items-center">
                <div>
                    {% include './partials/_links' %}
                </div>
                <div class="hidden lg:flex px-4 text-light">
                    <a href="" class="mx-2">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </a>
                    <a href="" class="mx-2">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                    <a href="" class="mx-2">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        {# Mobile Menu Items #}
        <div id="mobileMenu" class="hidden flex flex-col items-center">
            {% include './partials/_links' %}
        </div>
    </nav>
</header>