{% set menu_items = menus.navigation.with('entries:navLink').all() %}
{% for menu_item in menu_items %}
    <a href="{{menu_item.navLink[0].url}}" class="text-offwhite ff-heading tracking-widest uppercase text-xl px-4 font-bold" key="Solutions">
        {{menu_item.text}}
    </a>
{% endfor %}