<div class="mobile-toggle block lg:hidden cursor-pointer text-2xl text-primary" onclick="toggleMobileMenu()" onkeypress="toggleMobileMenu()">
    <span class="menu-icon-open">
        <i class="fas fa-bars"></i>
    </span>
    <span class="menu-icon-closed" style="display:none;">
        <i class="fas fa-times"></i>
    </span>
</div>
<script>
    var menuClosed = true;
    function toggleMobileMenu()
    {
        var mobileMenu = document.querySelector('{{mobileMenu}}');
        if(menuClosed) {
            //Open the mobile menu
            mobileMenu.classList.add("block");
            mobileMenu.classList.remove("hidden");

            //Show the close icon
            document.querySelector(".menu-icon-closed").style.display = "block";
            document.querySelector(".menu-icon-open").style.display = "none";
        
            menuClosed = false;
        }
        else {
            //Close the mobile menu
            mobileMenu.classList.add("hidden");
            mobileMenu.classList.remove("block");

            //Show the open icon
            document.querySelector(".menu-icon-closed").style.display = "none";
            document.querySelector(".menu-icon-open").style.display = "block";

            menuClosed = true;
        }
    }
</script>