a.button, button {
    font-family: var(--headingFont);
    @apply inline-block px-8 py-2 uppercase tracking-widest  text-2xl;
}
button.dark, .button.dark {
    @apply bg-dark text-white;
}
button.primary, .button.primary {
    @apply bg-primary text-white;
}
button.gray, .button.gray {
    @apply bg-primary text-white;
}