.ff-heading {
    font-family:var(--headingFont);
}
.ff-body {
    font-family:var(--bodyFont);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--headingFont);
    letter-spacing: 0.05em;
    @apply uppercase;
}
h2 {
    font-size: 2.7rem;

    @apply font-bold mb-3;
}
p {
    margin-bottom:0.9em;
    font-family: var(--bodyFont);
}