@tailwind base;
@tailwind components;
@tailwind utilities;

@import "_typography";
@import "_forms";
@import "_buttons";

hr {
    width:100%;
    border-top-width:3px;
    border-color:rgba(71,67,64,0.34);
    padding-top:6px;
    padding-bottom:6px;
}