<div class="background-replacement bg-center bg-blend-overlay bg-cover bg-black py-20" style="opacity:0.85; background-color:#252525; background-image:url('{{backgroundImage.url}}')">
    <div class="max-w-4xl mx-auto border-primary px-6 border-0 lg:border-l-4 lg:pl-8 lg:pb-2">
        <{{headingType}} class="text-primary leading-none">{{headingText}}</{{headingType}}>
        <span class="text-white">{{bodyText}}</span>
    </div>
</div>