<div class="bg-light">
    <div class="max-w-4xl mx-auto px-6 lg:px-16 py-14 lg:py-24">
        <hr>
            <div class="my-6 lg:my-12">
                <{{headingType}} class="text-center text-offwhite text-3xl lg:text-4xl">{{headingText}}</{{headingType}}>
                <div class="grid grid-cols-12">
                    {% for icon in icons%}
                        <div class="col-span-12 lg:col-span-4 flex flex-col justify-end">
                            <img class="w-14 mx-auto my-4" src="{{icon.iconImage.one().url}}">
                            <div class="text-center ff-heading text-3xl text-accent">{{icon.iconText}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        <hr>
    </div>
</div>