<div class="background-replacement py-28 lg:py-56 bg-blend-overlay bg-opacity-50 bg-black bg-center bg-cover" style="background-image:url('{{backgroundImage.url}}')">
    <img class="w-full max-w-3xl mx-auto delete px-12" src="{{heroImage.url}}"/>
</div>