<div class="flex flex-row flex-wrap items-stretch {{ (direction == 'left') ? '' : 'flex-row-reverse' }}">
    <div class="w-full lg:w-1/2 h-96 h-auto overflow-hidden bg-{{colorOptions}}">
        <div class="px-6 lg:px-16 py-14 lg:py-24">
            <{{headingType}} class="{{(colorOptions == "primary") ? 'text-offwhite' : 'text-primary'}} leading-none">{{headingText}}</{{headingType}}>
            
            <span class="{{(colorOptions == "primary") ? 'text-accent'}} {{(colorOptions == "dark") ? 'text-white'}} {{(colorOptions != "dark" and colorOptions != "primary") ? 'text-text'}}">
                {{bodyText}}
            </span>

            {% for item in children %}
                {% if item.type == 'button' %}
                    {% include './components/blocks/_button' with {
                        buttonText: item.buttonText,
                        buttonType: item.buttonType,
                        buttonLink: item.buttonLink.one(),
                        buttonClass: "my-4"
                    } %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="background-replacement w-full lg:w-1/2 h-96 lg:h-auto overflow-hidden bg-center bg-cover" style="background-image:url('{{backgroundImage.url}}')"></div>
</div>