<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>Coffee Shop Template</title>
        <link href="/assets/dist/main.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Teko:wght@300;400;500;600&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

        <script src="https://kit.fontawesome.com/e743c64040.js" crossorigin="anonymous"></script>
        <style>
            :root {
                --primaryBrandingColor:{{branding.primaryBrandingColor}};
                --accentBrandingColor:{{branding.accentColor}};
                --darkBrandingColor:{{branding.darkColor}};
                --lightBrandingColor:{{branding.lightColor}};
                --defaultTextColor:{{branding.defaultTextColor}};
                --lightTextColor:{{branding.lightTextColor}};
                --headingFont:'Teko', sans-serif;
                --bodyFont:'PT Serif', serif;
            }
        </style>
        {{ themeConnection() }}
    </head>
    <body class="ltr">
        {% include './partials/_header' %}
        <div role="main">
            {% block content %}
                
            {% endblock %}
        </div>
        {% include './partials/_footer' %}
        <script src="/assets/dist/main.js"></script>
    </body>
</html>
