{% if entry is defined and entry.pageMatrix is not null %}
    {# Preparation for the eager-loaded Neo field #}
    {% for block in entry.pageMatrix.all() %}
        {% do block.useMemoized(entry.pageMatrix) %}
    {% endfor %}

    {# Loop through top level blocks #}
    {% for block in entry.pageMatrix.level(1).all() %}
        {% switch block.type.handle %}
            {% case 'pageTop' %}
                {% include './components/blocks/_pageTop' with {
                    backgroundImage: block.backgroundImage.one(),
                    heroImage: block.heroImage.one()
                } %}
            {% case 'centeredContent' %}
                {% include './components/blocks/_centeredContent' with {
                    headingText: block.headingText,
                    headingType: block.headingType ?? "h4",
                    bodyText: block.bodyText,
                    backgroundImage: block.backgroundImage.one()
                } %}
            {% case 'standardContent' %}
                {% include './components/blocks/_standardContent' with {
                    backgroundImage: block.backgroundImage.one(),
                    headingText: block.headingText,
                    headingType: block.headingType ?? "h4",
                    bodyText: block.bodyText,
                    direction: block.direction,
                    colorOptions: block.colorOptions,
                    children: block.children
                } %} 
            {% case 'iconGrid' %}
                {% include './components/blocks/_iconGrid' with {
                    headingText: block.headingText,
                    headingType: block.headingType ?? "h4",
                    icons: block.icons
                } %} 
        {% endswitch %}
    {% endfor %}
{% endif %}